.card {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin-bottom: 1rem;
}

.left {
    min-width: 300px;
    width: 40vw;
    margin-right: 2rem;
}

.right {
    width: 400px;

    text-align: left;
}

.linkBox {
    margin-bottom: 1rem;
}

.link {
    font-size: 1.5rem;
    transition: 250ms ease-in-out;

    &:not(:last-child) {
        margin-right: 1rem;
    }

    &:hover {
        color: #C1C1C1;
    }
}

.topBox {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: baseline;

    & button {
        font-size: 1.5rem;
        z-index: 1;
        position: absolute;
        top: 6.5rem;
        left: 6rem;
    }
}