.castList {
    display: block;

    margin: 0;
    padding: 1rem 2rem 1rem;
}

.castItem {
    margin: 0;
    background-color: transparent;
    border: 0;
    text-shadow: none;
    text-align: left;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}